@model MittGarage.Models.SearchCtx

@{
    ViewBag.Title = "Admininistration";
}

<h2>Administration</h2>


@using (Html.BeginForm("Admin", "Items"))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>
                Registreringsnummer/ägare
            </td>
            <td>
                @Html.EditorFor(model => model.Searchstring)
                @Html.ValidationMessageFor(model => model.Searchstring)
            </td>
        </tr>
        <tr>
            <td>
                Fordonstyp
            </td>
            <td>
                @Html.EnumDropDownListFor(model => model.Type)
            </td>
        </tr>
        <tr>
            <td>
                Enbart dagens bilar
            </td>
            <td>
                @Html.CheckBoxFor(model => model.OnlyToday)
            </td>
        </tr>
        <tr>
            <td> 
            </td>
            <td>
                <input type="submit" value="Sök" />
            </td>
        </tr>
    </table>
   
}
