@model MittGarage.Models.Vehicle

@{
    ViewBag.Title = "Check out";
}

<h2>Check out</h2>
<div>
    <form method="get">

        <input type="search" name="term" />
        <input type="submit" value="Hitta" />

    </form>

</div>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegNr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.checkInDate)
        </th>
        <th></th>
    </tr>

    @foreach (var model in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => model.RegNr)
            </td>
            <td>
                @Html.DisplayFor(model => model.Owner)
            </td>
            <td>
                @Html.DisplayFor(model => model.checkInDate)
            </td>
            <td>
                <p>
                    @Html.ActionLink("Checka ut", "Delete", new { id = item.ItemID })
                </p>
            </td>
        </tr>
    }

</table>