@model IEnumerable<MittGarage.Models.Vehicle>

@{
    ViewBag.Title = "Check out";
}

<h2>Check out</h2>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>Ägare/Registreringsnummer/checkin id</div>
        <input type="text" name="term" />
        <input type="submit" value="Hitta" />
    }
</div>

@if  (Model != null)
{ 
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.checkInDate)
            </th>
            <th></th>
        </tr>

        @foreach (var m in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => m.RegNr)
                </td>
                <td>
                    @Html.DisplayFor(model => m.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(model => m.checkInDate)
                </td>
                <td>
                    <p>
                        @Html.ActionLink("Checka ut", "Delete", new { id = m.Id })
                    </p>
                </td>
            </tr>
        }

    </table>
}