@model MittGarage.Models.Vehicle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Vehicle</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegNr)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegNr)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Owner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Owner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.checkInDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.checkInDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
