@model IEnumerable<MittGarage.Models.GarageItem>

@{
    ViewBag.Title = "Mitt Garage";
}

<h2>
    @Html.ActionLink("Mitt Garage", "Index")</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    <form method="get">

        <input type="search" name="term" />
        <input type="submit" value="Hitta" />

    </form>

</div>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.regNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inchecked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.regNR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inchecked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemID })
        </td>
    </tr>
}

</table>
